---
import ImageText from "./ImageText.astro";
import TechStack from "./TechStack.astro";
import ExperienceBox from "./ExperienceBox.astro";
---
<section class="about-section">
    <ImageText avatar="/src/assets/images/avatar.png" photoText={true} textHeader="About me" reverse={false}>
        <p class="montserrat-regular">As a web development enthusiast, I am constantly trying to expand my skills in this area. I really like learning about new technologies and consistently enhance my abilities in developing both front-end and back-end in JavaScript. I approach problems with reason and logic, always seeking the most effective solutions. My professional attitude, reliability, and ability to work under pressure allow me to create web applications that are focused on user needs and stand out from the competition.</p>
    </ImageText>
    <ImageText avatar="/src/assets/images/avatar2.png" photoText={false} textHeader="Experience" reverse={true}>
       <ExperienceBox />
    </ImageText>
    <ImageText avatar="/src/assets/images/avatar3.png" photoText={false} textHeader="Tech stack" reverse={false}>
        <TechStack />
    </ImageText>
</section>
<style lang="scss">
    .about-section{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }
</style>