---
import ImageText from "./ImageText.astro";
import TechStack from "./TechStack.astro";
import ExperienceBox from "./ExperienceBox.astro";
import content from "../content/about/about.json"
---
<section class="about-section" id="about">
    <ImageText avatar="/src/assets/images/avatar.png" photoText={true} textHeader="About me" reverse={false}>
        <p class="montserrat-regular">{content.about}</p>
    </ImageText>
    <ImageText avatar="/src/assets/images/avatar2.png" photoText={false} textHeader="Experience" reverse={true}>
       <ExperienceBox />
    </ImageText>
    <ImageText avatar="/src/assets/images/avatar3.png" photoText={false} textHeader="Tech stack" reverse={false}>
        <TechStack />
    </ImageText>
</section>
<style lang="scss" scoped>
    .about-section{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }
</style>