---
import ProjectCard from "./ProjectCard.astro";
import projects from "../content/cards/projects.json"
import content from "../content/about/projectsinfo.json"
---
<section class="projects-section" data-aos="fade-up" id="projects">
    <h2 class="montserrat-alternates-bold text-gradient-purple">Projects</h2>
    <div class="wrapper">
        <p class="montserrat-regular">{content.projects}</p>
        <div class="image-box">
            <img src="/src/assets/images/samurai2.png" alt="Samurai" loading="lazy">
        </div>
    </div>
    <div class="cards-wrapper">
        {projects.map((project, index) => (
           <ProjectCard name={project.name} index={index} desc={project.desc} gh={project.gh} deploy={project.deploy} />
        ))}
    </div>
</section>
<style lang="scss" scoped>
    .projects-section{
        background-color: var(--light-black);
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding: 2rem 4rem;

        h2{
            font-size: 1.5rem;
        }

        .wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-bottom: 40px;
            column-gap: 100px;
        }

        p{
            max-width: 600px;
        }

        img{
            max-width: 400px;
            height: auto;
        }

        @media(max-width: 1024px){
            .wrapper{
                flex-direction: column-reverse;

                p{
                    max-width: none;
                }
            }
        }

        @media(max-width: 480px){
            padding: 2rem 10px;
        }
    }

    .cards-wrapper{
        width: 100%;
        display: flex;
        overflow: auto;
        white-space: normal;
        padding: 40px 20px;
        gap: 40px;
    }
</style>