---
import ProjectCard from "./ProjectCard.astro";
import projects from "../content/cards/projects.json"
import content from "../content/about/projectsinfo.json"
---
<section class="projects-section" data-aos="fade-up" id="projects">
    <h2 class="montserrat-alternates-bold text-gradient-purple">Projects</h2>
    <div class="wrapper">
        <p class="montserrat-regular">{content.projects}</p>
        <div class="image-box">
            <img src="/src/assets/images/samurai2.png" alt="Samurai" loading="lazy">
        </div>
    </div>
    <div class="shadow-container">
        <div class="cards-wrapper">
            {projects.map((project, index) => (
                <ProjectCard name={project.name} index={index} desc={project.desc} gh={project.gh} deploy={project.deploy} />
            ))}
        </div>
    </div>
</section>
<style lang="scss" scoped>
    .projects-section{
        background-color: var(--light-black);
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding: 2rem 4rem;

        h2{
            font-size: 1.5rem;
        }

        .wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-bottom: 40px;
            column-gap: 100px;
        }

        p{
            max-width: 600px;
        }

        img{
            max-width: 400px;
            height: auto;
        }
    }

    .shadow-container{
        position: relative;
        display: flex;
        width: 100%;
    }

    .cards-wrapper{
        width: 100%;
        display: flex;
        overflow: auto;
        white-space: normal;
        padding: 40px 20px;
        gap: 40px;
    }

    .shadow-container::after{
        content: "";
        display: block;
        top: 40px;
        height: calc(100% - 80px);
        position: absolute;
        width: 50px;
        z-index: 1;
        right: 0;
        background: linear-gradient(90deg, rgba(21,23,27,0.1) 0%, rgba(28,31,35,0.5032387955182073) 30%, rgba(25,28,32,0.8225665266106442) 70%, rgba(21,23,27,1) 100%);
    }
    
    @media(max-width: 1024px){
        .projects-section{
            .wrapper{
                flex-direction: column-reverse;
                p{
                    max-width: none;
                    text-align: justify;
                }
            }
        }
  

    }

    @media(max-width: 480px){
        .projects-section{
            padding: 2rem 10px;
            .wrapper{
                .image-box{
                    img{
                        width: 300px;
                    }
                }
            }
        }
    }
</style>