---
const techStack = [
    [
        { "name": "HTML", "icon": "html" },
        { "name": "CSS", "icon": "css" },
        { "name": "Javascript", "icon": "javascript" },
        { "name": "jQuery", "icon": "jquery" },
        { "name": "Typescript", "icon": "typescript" }
    ],
    [
        { "name": "Vue", "icon": "vue" },
        { "name": "Nuxt", "icon": "nuxt" },
        { "name": "Vuex", "icon": null },
        { "name": "Pinia", "icon": "pinia" },
        { "name": "Vuetify", "icon": "vuetify" }
    ],
    [
        { "name": "Node", "icon": "node" },
        { "name": "Express.js", "icon": "express" },
        { "name": "Nest.js", "icon": "nest" },
        { "name": "Prisma ORM", "icon": "prisma" },
        { "name": "MySQL", "icon": "mysql" }
    ],
    [
        { "name": "Axios", "icon": "axios" },
        { "name": "PHP", "icon": "php" },
        { "name": "Laravel Blade", "icon": "laravel" },
        { "name": "Astro.js", "icon": "astro" },
        { "name": "Bootstrap", "icon": "bootstrap" }
    ],
    [
        { "name": "Git", "icon": "git" },
        { "name": "Joi.dev", "icon": null }
    ]
]

const icons = [
    "html", "css", "javascript", "jquery", "typescript",
    "vue", "nuxt", "pinia", "vuetify",
    "node", "express", "nest", "prisma", "mysql",
    "axios", "php", "laravel", "astro", "bootstrap",
    "git"
]
---
<script>
    import Glide from '@glidejs/glide'
    const glide = new Glide('.glide',{
        autoplay: 1000,
        perView: 4,
        rewind: true,
        gap: 15,
        breakpoints:{
            768:{
                perView: 3
            },
            480:{
                perView: 2,
            }
       }
    });

    glide.mount();
</script>
<div class="tech-stack">
    <div class="list-wrapper">
        {techStack.map(arr => (
            <ul class="tech-list">
                {arr.map(tech => (
                    <li class="tech"><span class="tech-name" data-icon={tech.icon}>{tech.name}</span></li>
                ))}
            </ul>
        ))}
    </div>
    <p class="montserrat-regular">
        As a passionate JavaScript developer, I specialize in building dynamic, responsive web applications using a diverse set of technologies. My expertise spans both front-end and back-end development with modern frameworks and libraries.
    </p>
    <div class="glide">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            {icons.map(icon => (
                <li class="glide__slide"><img class="" title="Tech icon" src={`/src/assets/icons/${icon}-icon.svg`} /></li>
            ))}
          </ul>
        </div>
        <!-- <div class="glide__bullets" data-glide-el="controls[nav]">
            {icons.map((icon, index) => (
                <button class="glide__bullet" data-glide-dir={`=${index}`} data-slide={icon}></button>
            ))}
        </div> -->
    </div>
</div>
<style lang="scss">
    .tech-stack{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        row-gap: 30px;
        width: 100%;
    }

    .list-wrapper{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        column-gap: 30px;
        @media(max-width: 1024px){
            flex-wrap: wrap;
            width: 100%;
        }

        @media(max-width: 768px){
            flex-wrap: wrap;
            column-gap: 0;
        }
    }

    .tech-list{
        @media(max-width: 768px){
            width: 50%;
        }
    }

    .tech{
        cursor: pointer;
    }

    .tech-icon{
        display: none;
        position: absolute;
        max-width: 150px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 10px;
        transition: background 0.5s;
    }

    .glide__track{
        position: relative;
        padding: 20px 0;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
    }
    .glide__slide{
        padding: 20px 10px;
        display: flex;
        justify-content: center;
        background-color: #826AED;
        border-radius: 8px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        margin: 10px 0;

        img{
            height: 75px;
            width: auto;
        }
    }
</style>